@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0%;
  padding: 0%;
  text-decoration: none;
  list-style: none;
  max-width: 100%;
  color: #b6beca;
}

*, ::after, ::before {
  box-sizing: inherit;
}

a {
  color: rgb(138, 174, 230);
}

img {
  max-width: 100%;
  max-height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Dm sans", sans-serif;
  background-color: #040307;
  overflow-x: hidden;
  width: 100vw;
  background-color: #171b20;
}

h1 {
  font-size: 2rem;
}

@media screen and (min-width: 1144px) {
  h1 {
    font-size: 3rem;
  }
}
header {
  position: fixed;
  z-index: 1;
  background: #171b20;
  width: 100vw;
  padding: 20px;
  margin: auto;
  left: 0;
  right: 0;
}

nav .navbar-brand {
  width: 100%;
}
nav #hamburger {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30px;
  height: 30px;
  padding: 5px;
  background: transparent;
  border: none;
  z-index: 4;
  cursor: pointer;
}
nav #hamburger .line {
  width: 100%;
  height: 2px;
  transition: 0.4s;
  background-color: #a3b8ef;
}
nav .navMobileActive :nth-child(1) {
  display: none;
}
nav .navMobileActive :nth-child(2) {
  position: absolute;
  rotate: 45deg;
}
nav .navMobileActive :nth-child(3) {
  position: absolute;
  rotate: 135deg;
}
nav ul {
  display: flex;
  padding: 20px 0;
  justify-content: space-evenly;
}
nav ul img {
  width: 30px;
}
nav ul .active {
  transition: 2s;
  border-bottom: 2px solid rgba(255, 255, 255, 0.487);
}
nav .nav-mobile {
  display: none;
  transform: translateX(-150vw);
  transition: 0.4s;
}
nav .content-nav-mobile {
  z-index: 3;
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #21262e;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 100px 15px 15px 15px;
  justify-content: unset;
  gap: 20px;
  width: 50%;
  transform: translateX(0);
  transition: 0.4s;
}
nav .content-nav-mobile a {
  color: #b6beca;
  transition: 0.2s;
}
nav .content-nav-mobile a:hover {
  border-left: 2px solid #a3b8ef;
  border-bottom: 0;
  padding: 5px 10px;
}
nav .nav-large-screen {
  display: none;
}

@media screen and (min-width: 600px) {
  .mobile {
    display: none;
  }
  .nav-large-screen {
    display: flex !important;
    justify-content: center;
    gap: 30px;
  }
  .nav-large-screen a {
    color: #b6beca;
    padding: 10px;
    transition: 0.1s;
  }
  .nav-large-screen a:hover {
    color: #a3b8ef;
    border-bottom: 3px solid #a3b8ef;
  }
}
.blue-text {
  color: #a3b8ef;
}

#root {
  width: 90%;
  margin: auto;
  max-width: 1000px;
  padding-bottom: 40px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
footer .copyrights {
  text-align: center;
}

#introduction {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 700px;
}
#introduction .logo {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 70px;
  z-index: 3;
}
#introduction .txt-home {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}
#introduction .view-more {
  background: transparent;
  border: 2px solid #21262e;
  padding: 6px 20px;
  max-width: 100px;
  margin: auto;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
}
#introduction .view-more:hover {
  border: 2px solid #a3b8ef;
  color: #a3b8ef;
}
#introduction .hero {
  position: fixed;
}

@media screen and (min-width: 1144px) {
  #introduction .logo {
    width: 150px;
  }
}
#myProjects {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 100px 0 100px 0;
}
#myProjects .title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 4px solid #a3b8ef;
}
#myProjects .content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
#myProjects .intro {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}
#myProjects .all-projects {
  text-align: center;
  align-items: center;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 30px;
}
#myProjects .all-projects .container-project {
  border-radius: 10px;
  overflow: hidden;
  filter: brightness(0.5);
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid #252525;
  background-color: #252525;
}
#myProjects .all-projects .container-project:hover {
  border-radius: 10px;
  filter: brightness(1);
  scale: 1.05;
}
#myProjects .all-projects img {
  max-width: 400px;
  width: 100%;
}
#myProjects .all-projects .description .tags {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 10px;
}
#myProjects .all-projects .description .tags p {
  color: #e2e2e2;
  text-transform: uppercase;
  font-weight: 600;
}
#myProjects .all-projects .important-project {
  position: absolute;
  top: 10px;
  left: 10px;
  rotate: -20deg;
  background-color: white;
  border: 2px solid #252525;
  color: #252525;
  font-size: 1.4rem;
  padding: 0.3rem;
  font-weight: bolder;
  z-index: 10;
}

#about {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
#about .title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 4px solid #a3b8ef;
}
#about .content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-size: 18px;
}
#about .content .container-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#about .content .container-links a {
  background: transparent;
  border: 2px solid #21262e;
  padding: 5px 10px;
  width: 30%;
  margin: auto;
  text-align: center;
  color: #b6beca;
  font-weight: 700;
  font-size: 17px;
}
#about .content .container-links a:hover {
  color: #a3b8ef;
}
#about .content .about-me {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#about .content .about-me p {
  line-height: 30px;
}
#about .content .languages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#about .content .languages .container-box {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.5rem;
  text-align: center;
  width: 25%;
  min-width: 102px;
}
#about .content .languages .box {
  border: 2px solid #21262e;
  /* height: 75px; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 20px;
  gap: 10px;
  text-align: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 700;
}
#about .content .languages .box img {
  height: 30px;
}

@media screen and (min-width: 900px) {
  #about .content {
    flex-direction: row;
  }
  #about .container-links {
    flex-direction: column !important;
    justify-content: flex-start !important;
    width: 30%;
    text-align: left !important;
  }
  #about .container-links a {
    margin: 0 !important;
    width: 100% !important;
    border: none !important;
    padding: 10px 14px !important;
    text-align: left !important;
  }
}/*# sourceMappingURL=style.css.map */